/* gallery.scss */

/* landingpage */
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em 1em;
    grid-auto-rows: 1fr;

    @media (min-width: $break-point) {
        grid-template-columns: repeat(3, 1fr);
    }

    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

.youtube-16-9 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}