/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
}
   
.logo img {
    max-height: 7rem;
}

@media (max-width: $break-point) {
    .title, .logo {
        padding: $padding $padding $padding 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}

.header a {
    text-decoration: none;
}
