/* Header */

.header-container {
    background-color: $background-block;
    border-block-end: 1px solid $border-color;
}

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    flex: 0 0 auto;
    max-width: $max-width + 10;
    margin: 0 auto;
    width: 100%;
}

/* Title */

.title, .logo {
    padding: $padding;
}
   
.logo img {
    max-height: 7rem;
    @if $dark-mode {
        filter: grayscale(1);
    }
}

@media (max-width: $break-point) {
    .title, .logo {
        //padding: $padding $padding $padding 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 50%;
    }
}

.title * {
    //color: #111;
}

.title p {
    font-style: italic;
}

.header a {
    text-decoration: none;
}
