@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';

@import 'mobile-menu';
@import 'typografy';
@import 'technology';
@import 'header';
@import 'footer';

* {
    color: $font-color;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

html, body {
    background-color: $background-color;
    height: 100%;
    border: 0 none;
    margin: 0;
    padding: 0;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    padding: $padding;
}

.header, .footer {
    flex: 0 0 auto;
}